*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@keyframes blink {
    0%, 24% {
        background-image: linear-gradient(to top, white, rgb(252, 179, 219), rgb(18,75,3), aquamarine);
        background-clip: text;
        color:transparent;
    }
    25%, 49% {
        background-image: linear-gradient(to top,  rgb(252, 179, 219), rgb(18,75,3), aquamarine, white);
        background-clip: text;
        color:transparent;
    }

    50%, 74% {
        background-image: linear-gradient(to top,  rgb(18,75,3), aquamarine, white, rgb(252, 179, 219));
        background-clip: text;
        color:transparent;
    }
    75%, 100% {
        background-image: linear-gradient(to top,   aquamarine, white, rgb(252, 179, 219), rgb(18,75,3));
        background-clip: text;
        color:transparent;
    }
  }
 
h1{
    font-size: 100px;
    text-align: center;
    animation: blink 0.5s ease-in-out infinite;
}